<p id="notice"><%= notice %></p>

<p>
  <strong>First-name:</strong>
  <%= @patient.first_name %>
</p>

<p>
  <strong>Last-name:</strong>
  <%= @patient.last_name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @patient.gender %>
</p>

<p>
  <strong>Date-of-birth:</strong>
  <%= @patient.date_of_birth %>
</p>

<p>
  <strong>Contact-no:</strong>
  <%= @patient.contact_no %>
</p>

<p>
  <strong>Address:</strong>
  <%= @patient.address %>
</p>

<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
