<%= render 'layouts/head_content' %>
<p id="notice"><%= notice %></p>


                            <div class="panel panel-default plain toggle panelClose panelRefresh">
                                <!-- Start .panel -->
                                <div class="panel-heading white-bg">
                                    <h2 class="panel-title">Listing Doctors</h2>
                                </div>
                                <div class="panel-body">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th class="per3">
                                                    #
                                                </th>
                                                <th class="per10">First-name</th>
                                                <th class="per10">Last-name</th>
                                                <th class="per5">Gender</th>
                                                <th class="per10">Email</th>
                                                <th class="per15">Address</th>
                                                <th class="per5">Language</th>
                                                <th class="per5">Physician-type</th>
                                                <th class="per7">Contact-no</th>
                                               <th colspan="3"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                         <% 
                                         $count = 1
                                         @doctors.each do |doctor| %>
                                            <tr>
                                                <td>
                                                    <%= $count %>
                                                </td>
                                                <td><%= doctor.first_name %></td>
                                                <td><%= doctor.last_name %></td>
                                                <td><%= doctor.gender %></td>
                                                <td><%= doctor.email %></td>
                                                <td><%= doctor.address %></td>
                                                <td><%= doctor.language %></td>
                                                <td><%= doctor.physician_type %></td>
                                                <td><%= doctor.contact_no %></td>
                                                <td><%= link_to doctor, :data => {:no_turbolink => true } do %>
                                                  <i class="fa fa-eye fa-5"></i>
                                                 <% end %> 
                                                </td>
                                                <td>
                                                <%= link_to edit_doctor_path(doctor), :data => { :no_turbolink => true } do %>
                                                  <i class="fa fa-pencil-square fa-5"></i>
                                                <% end %>
                                                </td>
                                                <td><%= link_to doctor, method: :delete, data: { confirm: 'Are you sure?', no_turbolink: true } do %>
                                                    <i class="fa fa-trash-o fa-5"></i>
                                                <% end %>
                                                </td>
                                            </tr>
                                           <% 
                                           $count = $count+1 
                                           end %> 
                                        </tbody>
                                    </table>
                                    <%= link_to new_doctor_path, :data => { :no_turbolink => true} do %>
                                     <button class="btn btn-success mr5 mb10" type="button">New Doctor</button>
                                    <% end %>
                                </div>
                            </div>
                            <!-- End .panel -->


<%= render 'layouts/footer_content' %>
