<%= render 'layouts/adminheader' %>
<!-- col-lg-12 start here -->
                            <div class="panel panel-default plain toggle panelClose panelRefresh" id="jst_3">
                                <!-- Start .panel -->
                                <div class="panel-heading white-bg">
                                    <h4 class="panel-title">List of all Hospitals</h4>
                                <div class="panel-controls"><a class="panel-refresh" href="#"><i class="im-spinner12"></i></a><a class="toggle panel-minimize" href="#"><i class="im-minus"></i></a><a class="panel-close" href="#"><i class="im-close"></i></a></div></div>
                                <div class="panel-body">
                                    <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: 100%; height: auto;"><div class="table-responsive" style="overflow: hidden; width: 100%; height: auto;"><table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th class="per5">
                                                    #
                                                </th>
                                                <th class="per40">Email</th>
                                                <th class="per40">Created at</th>
                                                <th class="per15">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        <% $i = 1 %>
                                        <% @hospitals.each do |hospital| %>
                                            <tr>
                                                <td>
                                                    <%= $i %>
                                                </td>
                                                <td><%= hospital.email %></td>
                                                <td><%= hospital.created_at %></td>
                                                <td>---</td>
                                            </tr>
                                            <% $i = $i+1 %>
                                         <% end %>    
                                           
                                        </tbody>
                                    </table>
                                 
                                     <%= link_to "Add Hospital", new_hospitaladmin_registration_path, :method => :get, :class => 'btn btn-success mr5 mb10' %>   
                                    </div><div class="slimScrollBar ui-draggable" style="background: none repeat scroll 0% 0% rgb(255, 255, 255); height: 5px; position: absolute; bottom: 3px; opacity: 0.4; display: none; border-radius: 5px 5px 5px 5px; z-index: 99; width: 953px; left: 0px;"></div><div class="slimScrollRail" style="width: 100%; height: 5px; position: absolute; bottom: 3px; display: none; border-radius: 5px 5px 5px 5px; background: none repeat scroll 0% 0% rgb(51, 51, 51); opacity: 1; z-index: 90;"></div></div>
                                </div>
                            </div>
       <%= render 'layouts/footer_content' %>                