<body class="ovh">
        <div id="preloader">
            <div id="preloader-logo">
                <img src="/assets/preloader-logo.png" alt="Logo">
            </div>
            <div id="preloader-icon">
                <i class="im-spinner icon-spin"></i>
            </div>
        </div>
        <!-- Start #header -->
        <div id="header">
            <div class="container-fluid">
                <div class="navbar">
                    <div class="navbar-header">
                        <!-- Show navigation toggle on phones -->
                        <button id="showNav" class="navbar-toggle" type="button">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <!-- Show logo for large screens and laptops -->
                        <a class="navbar-brand visible-lg visible-md" href="index.html">
                            <img src="/assets/logo.png" alt="Jump start">
                        </a>
                        <!-- Show logo for small screens -->
                        <a class="navbar-brand hidden-lg hidden-md hidden-xs" href="index.html">
                            <img src="/assets/logo-sm.png" alt="Jump start">
                        </a>
                    </div>
                    <nav id="top-nav" class="navbar-no-collapse" role="navigation">
                       
                        <!-- Navbar nav -->
                        <ul class="nav navbar-nav pull-right">
                           
                         
                         
                            <li class="dropdown">
                                <a href="#" data-toggle="dropdown">
                                    <img class="avatar" src="/assets/avatars/1.jpg" width="36" height="36" alt="Jonh Doe"> <span class="avatar-name"><%= current_hospitaladmin.email %></span>
                                    <span class="caret ml5"></span>
                                </a>
                                <ul class="dropdown-menu right" role="menu">
                                    <li><a href="profile.html"><i class="im-user"></i> Profile</a>
                                    </li>
                                    <li><a href="#"><i class="im-cog2"></i> Settings</a>
                                    </li>
                                    <li><a href="#"><i class="im-question3"></i> Help</a>
                                    </li>
                                    <li>
                                    <%= link_to "Logout", destroy_hospitaladmin_session_path, :method => :delete %>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!-- End #header -->
        <!-- Start #sidebar -->
        <aside id="sidebar">
            <!-- Start .sidebar-inner -->
            <div class="sidebar-inner">
                <!-- Start .toggle-sidebar -->
                <div class="toggle-sidebar">
                    <a href="#"><i class="im-arrow7"></i></a>
                </div>
                <!-- End .toggle-sidebar -->
                <!-- Start .option-buttons -->
                <div class="option-buttons">
                    <div class="option-buttons-inner">
                 <h5 class="sidebar-title">Navigation</h5>
                    </div>
                </div>
                <!-- End .option-buttons -->
                <!-- Start .sidebar-scrollarea -->
                <div class="sidebar-scrollarea">
                    
                    <ul id="sideNav" class="nav nav-pills nav-stacked">
                        <li>
                        <%= link_to 'Dashboard', :controller => "hospitaladmin", :action => "index" %>
                        </li>
                        <li>
                        <%= link_to 'Add Doctor', :controller => "doctors", :action => "new" %>
                        </li>
                        <li>
                        <%= link_to 'Add Patient', :controller => "patients", :action => "new" %>
                        </li>
                        <li>
                            <a href="#"><i class="im-list4"></i> <span class="txt">Forms</span></a>
                            <ul class="sub">
                                <li><a href="form-layout.html"><i class="im-arrow-right3"></i> <span class="txt">Form layout</span></a>
                                </li>
                                <li><a href="form-elements.html"><i class="im-arrow-right3"></i> <span class="txt">From elements</span></a>
                                </li>
                                <li><a href="form-wizard.html"><i class="im-arrow-right3"></i> <span class="txt">Form wizard</span></a>
                                </li>
                                <li><a href="form-validation.html"><i class="im-arrow-right3"></i> <span class="txt">Form validation</span></a>
                                </li>
                                <li><a href="form-wysiwyg.html"><i class="im-arrow-right3"></i> <span class="txt">Wysiwyg editor</span></a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><i class="im-table2"></i> <span class="txt">Tables</span></a>
                            <ul class="sub">
                                <li><a href="tables.html"><i class="im-arrow-right3"></i> <span class="txt">Static tables</span></a>
                                </li>
                                <li><a href="tables-data.html"><i class="im-arrow-right3"></i> <span class="txt">Data tables</span></a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><i class="im-cube"></i> <span class="txt">UI Elements</span></a>
                            <ul class="sub">
                                <li><a href="icons.html"><i class="im-arrow-right3"></i> <span class="txt">Icons</span></a>
                                </li>
                                <li><a href="panels.html"><i class="im-arrow-right3"></i> <span class="txt">Panels</span></a>
                                </li>
                                <li><a href="buttons.html"><i class="im-arrow-right3"></i> <span class="txt">Buttons</span></a>
                                </li>
                                <li><a href="typo.html"><i class="im-arrow-right3"></i> <span class="txt">Typography</span></a>
                                </li>
                                <li><a href="notifications.html"><i class="im-arrow-right3"></i> <span class="txt">Notifications</span></a>
                                </li>
                                <li><a href="tabs.html"><i class="im-arrow-right3"></i> <span class="txt">Tabs &amp; Accordions</span></a>
                                </li>
                                <li><a href="modals.html"><i class="im-arrow-right3"></i> <span class="txt">Modals</span></a>
                                </li>
                                <li><a href="sliders.html"><i class="im-arrow-right3"></i> <span class="txt">Sliders</span></a>
                                </li>
                                <li><a href="progressbars.html"><i class="im-arrow-right3"></i> <span class="txt">Progressbars</span></a>
                                </li>
                                <li><a href="calendar.html"><i class="im-arrow-right3"></i> <span class="txt">Calendar</span></a>
                                </li>
                                <li><a href="grid.html"><i class="im-arrow-right3"></i> <span class="txt">Grid</span></a>
                                </li>
                                <li><a href="lists.html"><i class="im-arrow-right3"></i> <span class="txt">Lists</span></a>
                                </li>
                                <li><a href="elements.html"><i class="im-arrow-right3"></i> <span class="txt">Other</span></a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><i class="im-envelop2"></i> <span class="txt">Email</span></a>
                            <ul class="sub">
                                <li><a href="email-inbox.html"><i class="im-arrow-right3"></i> <span class="txt">Inbox</span></a>
                                </li>
                                <li><a href="email-write.html"><i class="im-arrow-right3"></i> <span class="txt">Send email</span></a>
                                </li>
                                <li><a href="email-read.html"><i class="im-arrow-right3"></i> <span class="txt">Read email</span></a>
                                </li>
                            </ul>
                        </li>
                        <li><a href="file.html"><i class="im-upload5"></i> <span class="txt">File manager</span></a>
                        </li>
                        <li><a href="gallery.html"><i class="im-images"></i> <span class="txt">Gallery</span></a>
                        </li>
                        <li><a href="widgets.html"><i class="im-stack3"></i> <span class="txt">Widgets</span></a>
                        </li>
                        <li>
                            <a href="#"><i class="im-map4"></i> <span class="txt">Maps</span></a>
                            <ul class="sub">
                                <li><a href="maps-google.html"><i class="im-arrow-right3"></i> <span class="txt">Google maps</span></a>
                                </li>
                                <li><a href="maps-vector.html"><i class="im-arrow-right3"></i> <span class="txt">Vector maps</span></a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><i class="im-file8"></i> <span class="txt">Pages</span></a>
                            <ul class="sub">
                                <li><a href="login.html"><i class="im-arrow-right3"></i> <span class="txt">Login page</span></a>
                                </li>
                                <li><a href="lockscreen.html"><i class="im-arrow-right3"></i> <span class="txt">Lock screen</span></a>
                                </li>
                                <li><a href="timeline.html"><i class="im-arrow-right3"></i> <span class="txt">Timeline</span></a>
                                </li>
                                <li><a href="profile.html"><i class="im-arrow-right3"></i> <span class="txt">Profile page</span></a>
                                </li>
                                <li><a href="invoice.html"><i class="im-arrow-right3"></i> <span class="txt">Invoice page</span></a>
                                </li>
                                <li><a href="search.html"><i class="im-arrow-right3"></i> <span class="txt">Search page</span></a>
                                </li>
                                <li><a href="blank.html"><i class="im-arrow-right3"></i> <span class="txt">Blank page</span></a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><i class="im-file-remove2"></i> <span class="txt">Error pages</span></a>
                            <ul class="sub">
                                <li><a href="400.html"><i class="im-arrow-right3"></i> <span class="txt">400 Error</span></a>
                                </li>
                                <li><a href="401.html"><i class="im-arrow-right3"></i> <span class="txt">401 Error</span></a>
                                </li>
                                <li><a href="403.html"><i class="im-arrow-right3"></i> <span class="txt">403 Error</span></a>
                                </li>
                                <li><a href="404.html"><i class="im-arrow-right3"></i> <span class="txt">404 Error</span></a>
                                </li>
                                <li><a href="405.html"><i class="im-arrow-right3"></i> <span class="txt">405 Error</span></a>
                                </li>
                                <li><a href="500.html"><i class="im-arrow-right3"></i> <span class="txt">500 Error</span></a>
                                </li>
                                <li><a href="503.html"><i class="im-arrow-right3"></i> <span class="txt">503 Error</span></a>
                                </li>
                                <li><a href="offline.html"><i class="im-arrow-right3"></i> <span class="txt">Offline</span></a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <!-- End .sidebar-scrollarea -->
            </div>
            <!-- End .sidebar-inner -->
        </aside>
        <!-- End #sidebar -->
      
        </aside>
        <!-- Start #right-sidebar -->
        <!-- Start #content -->
        <div id="content">
            <!-- Start .content-wrapper -->
            <div class="content-wrapper">
                <div id="page-heading" class="page-header">
                    <h2><i class="icon im-home2"></i> Dashboard</h2>
                    <!-- Start .bredcrumb -->
                    <ul id="crumb" class="breadcrumb">
                    </ul>
                    <!-- End .breadcrumb -->
                </div>
                <!-- Start .content-inner -->
                <div class="content-inner">
                    <!-- Start .row -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row">